.env
/public/bundles/
/app/bootstrap.php.cache
/app/cache/
/app/config/parameters.yml
/app/logs/
/app/var/sessions/
!app/var/sessions/.gitkeep
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/public/.htaccess
/app/logs/.gitkeep
/.idea/
/public/js/
/public/css/

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
