/build/
/composer.phar
/public/.htaccess
/app/logs/.gitkeep
/.idea/
/public/js/
/public/css/

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
